body {
	background-image: url("../img/grey.png");
	font-family: arial, helvetica, sans-serif;
}

h1 {
	font-size: 20px;

}

p {
	font-weight: bold;
	text-align: left;
}

a {
	padding: 10px;
	text-decoration: none;
}

.nav-list {
	list-style-type: none;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.nav-list li {
	padding: 10px;
}

.nav-container {
	float: left;
	height: 200px;
	background-image: url("../img/brown.png");
	border-radius: 15px;
	box-shadow: 20px 20px 10px #333333;
}

.menu {
	list-style-type: none;
	padding:10px;
	margin-left: 20%;
	margin-right: 20%;
}

.menu li {
	margin: 15px;
	text-align: center;
	list-style-type: none;
	border-radius: 15px;
	padding: 5px;
	background-image: url("../img/brown.png");
}

.menu li ul {
	display: block;
	background-image: url("../img/brown.png"); 
	box-shadow: 20px 20px 10px #333333;
}

.center {
	height: 580px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-image: url("../img/brown.png");
	box-shadow: 20px 20px 10px #333333;
	border-radius: 15px;
	overflow: scroll;
}

#bild1 {
	height: 180px;
	width: 180px;
	margin: 20px;
	box-shadow: 20px 20px 10px #333333;
}