body {
	background-image: url("img/grey.png");
	font-family: arial, helvetica, sans-serif;
}

.menu {
	list-style-type: none;
	padding:10px;
	margin-left: 20%;
	margin-right: 20%;

}

.menu li {
	/*float: left; */
	margin: 15px;
	text-align: center;
	list-style-type: none;
	border: 2px groove limegreen;
	border-radius: 15px;
	padding: 5px;
	background-image: url("img/brown.png");
}

.menu li ul {
	display: none;
	border: 2px groove limegreen;
	background-image: url("img/brown.png"); 
}

 .menu li:hover ul {
	display: block;
	background-image: url("img/brown.png");
} 


.center {
	height: 600px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-image: url("img/brown.png");
	box-shadow: 20px 20px 10px #333333;
	border-radius: 15px;
}

#clear-fix {
	clear: both;
}

#bild1 {
	height: 180px;
	width: 180px;
	margin: 5px;
	border: 5px solid black;
	background-color: yellow;
	float: both;
	border-radius: 15px;
	box-shadow: 20px 20px 10px #333333
}









